.navbar {
    height: 20px;
    width: 100vw;
    background-color: black;
    color: white;
}

.navbar-content-container {
    display: flex;
    justify-content: space-between;
    
    .right-size-container {
        .user-content {
        
        }
    
        .auth-content {
    
        }
    }
    
}
