.calendar-container {
    display: flex;
    flex-direction: row;
    background-color: #344850;
    /*width: 100%;*/
    /*justify-content: space-around;*/
    /*height: 100%;*/

    padding: 10px;
    overflow-y: scroll;
    color: white;
}
/*.calendar-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.calendar-days {
    display: flex;
    flex-direction: column;
    background-color: #344850;
    width: 100%;
}
.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.calendar-body {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    box-sizing: border-box;
    /*border-radius: 10px;*/

    /*height: 100%;*/
    position: relative;
    /*overflow-y: scroll;*/
}
.weekday-header {
    width: 100%;
}
.weekday {
    text-align: center;
    background-color: #223239;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #f3f3f3;
    /*border-radius: 10px;*/
    /*height: 100vh;*/
    /*overflow-y: scroll;*/
}
.time-slot {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 45px;
    /*transform: translateY(-9px);*/
    /*z-index: 1000;*/
    /*background-color: purple;*/
}
.day-slot {
    display: flex;
    flex-direction: row;
    padding: 1px;
    height: 45px;
    /*width: 165px;*/
    /*background-color: gold;*/
    /*border-radius: 10px;*/
    border-bottom: 1px solid #f3f3f3;
    box-sizing: border-box;
    font-weight: bold;
    /*color: #282c34;*/
}
.calendar-course {
    flex-grow: 1;
    font-size: 12px;
    /*width: 50%;*/
    /*display: flex;*/
    /*width: 100vw;*/
    position: relative;
    /*left: calc(-50vw + 50%);*/
    /*opacity: .8;*/
    /*height: 30px;*/
    display: flex;
    flex-direction: column;
    padding: 7px;
    border: 1px solid #c2c1c1;
    border-radius: 5px;
    background-color: #3a4755;
    box-sizing: border-box;
    text-align: start;
    overflow-x: hidden;
}
/*.calendar-course:only-child {*/
/*    width: 100%;*/
/*}*/
/*.calendar-course:first-child:nth-last-child(2) ~ .calendar-course {*/
/*    width: 50%;*/
/*}*/

.overlap {
    background-color: #5e2929;
}


.course-times {
    /*padding-top:;*/
    height: 100%;
    /*overflow-y: scroll;*/
}
.times-header {
    opacity: 0;
    /*overflow-y: scroll;*/
}