.searchBarInput {
    padding: 20px;
    border-radius: 20px;
    border-style: none;
    font-size: 25px;
    font-weight: bold;

    width: 100%;
    box-sizing: border-box;
    background-color: #282c34;
    color: gainsboro;
    z-index: 9999;

}

.searchBar {
    padding: 10px;
    /*background-color: #61dafb;*/
}