*.env

### Webservice ### .IDEA
/webservice/.gradle
/webservice/build/
/webservice/!gradle/wrapper/gradle-wrapper.jar
/webservice/!**/src/main/**/build/
/webservice/!**/src/test/**/build/
/webservice/.idea/compiler.xml
/webservice/.idea/workspace.xml
/webservice/.idea/jarRepositories.xml
/webservice/.idea/modules.xml
/webservice/.idea/libraries/
/webservice/*.iws
/webservice/*.iml
/webservice/*.ipr
/webservice/out/
/webservice/!**/src/main/**/out/
/webservice/!**/src/test/**/out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

