@use "../../styles/globals/layout";
@use "../../styles/globals/variables";

.back-button {
  all: unset;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  width: 30px;
  font-weight: bold;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  &:hover  {
    background-color: #4b566c;
  }
  &:focus {
    outline: orange 5px auto;

  }
}
.filter-input {
  &:disabled {
    background-color: #243740;
    font-weight: bold;
    color: #282c34;
    &:hover {
      cursor: not-allowed;
    }
  }
}

label {
  padding-bottom: 5px;
}
.filters {
  /*line-height: 2em;*/
  display: flex;
  flex-direction: column;
}