.schedule-options {
  padding: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
  /*overflow-wrap: ;*/
  /*flex-direction: column;*/
}

.block {
  /*display: inline-block;*/
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  align-items: start;
  column-gap: 10px;
  /*row-gap: 10px;*/
  width: 300px;
  height: 200px;
  /*height: 250px;*/
  /*margin: 8px;*/
  padding: 8px;
  text-align: center;
  background-color: #19262b;
  border-radius: 10px;
  border: 1px solid rgba(143, 143, 158, 0.32);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.41);
  color: white;
  transition: all .5s ease;
}
.block:hover {
  cursor:pointer;
  filter: brightness(1.2);
  transform: translateY(-3px);

}
  
  .block img {
    /*display: block;*/
    /*width: 100%;*/
    /*height: calc(3 / 5 * 100%);*/
    object-fit: cover;
    object-position: center;
    margin-bottom: 8px;
  }
  
  /*.block div {*/
  /*  !*height: calc(2 / 5 * 100%);*!*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  justify-content: center;*/
  /*  align-items: center;*/
  /*  !*font-size: 16px;*!*/
  /*}*/
  
  .new {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c6671;
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .block.new:hover {
    filter: brightness(1.2);
  }

.schedule-filters-containers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
}
.filter {
  /*display: flex;*/
  /*flex-grow: 0;*/
  /*align-items: center;*/
}
.schedule-select-container {
  font-size: 16px;
  color: white;
  /*background-color: #344850;*/
  /*height: 100%;*/
}
.schedule-name {
  font-size: 24px !important;
  font-weight: bold;
  padding-bottom: 10px;
}